body {
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
  background-color: lightblue;
}

.container {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.menuBar {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;

}
li {
  font-family: 'Amatic SC',cursive;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 3em;
  padding-top: 4%;
  padding-bottom: 2%;

}


.navbar-toggle {

}
/* leftmenu and rightmenu refer to each side of the top bar menu */
.leftmenu {
  float: left!important;
}
.rightmenu {

}


.logo {
  visibility: hidden;
  width: 12%;
  position: absolute;
  border: none;
  cursor: pointer;
  z-index: 2000;
}
@media screen and (min-width: 1250px) {
    .logo {
        visibility: visible!important;
    }
}


/* main image styles and text styles*/
.mainImage {
 background-image: url("http://i.imgur.com/WfLA29P.jpg");
 height: 80vh;
 width: 100%;
 background-size: cover;

}

.row {
  margin: 0!important;
  padding: 0!important;

}
.video_wrapper {
  background-image: url("https://static1.squarespace.com/static/542aae07e4b06868dcab2966/t/546eb682e4b0f8f6a10aadef/1416541826584/the+Hideout+Coffee+house?format=1000w");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
}

.thevideo {
  object-fit: contain;
  display: block;


  width: 100%;
}


.defaultpic {
  margin-top: 7%;
  width: 100%;
}
/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

.footer {

}

.bottomContainer {
  margin: 0 auto;
}

.mediaButton {
  padding-top: 0.7%;
  font-family: 'Amatic SC', cursive;
  background-color: lightblue;
  font-size: 190%;
  font-weight: 500;
}
.mediaAddress {
  padding-top: 0.7%;
  font-family: 'Amatic SC', cursive;
  background-color: lightblue;
  font-size: 190%;
  font-weight: 500;
}
.easyTiger {
  width: 70%;
  border-radius: 60%;
}
.amys {
  width: 95%;
  border-radius: 30%;
}
.katz {
  width: 83%;
  border-radius: 60%
}
/**** MOBILE EDITING ***/

@media screen and (max-height: 767px) {
    .thevideo {
        visibility: hidden!important;
    }
    .video_wrapper {
      margin-top: 50px;
    }

    }

}
