body {
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
  background-color: lightblue;
}

.container {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.menuBar {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;

}
li {
  font-family: 'Amatic SC',cursive;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 35vh;
  padding-top: 4%;
  padding-bottom: 2%;

}


.navbar-toggle {

}
/* leftmenu and rightmenu refer to each side of the top bar menu */
.leftmenu {
  float: left!important;
  padding-left: 8%!important;
}
.rightmenu {
  padding-right: 8%;
}

.logo {
  position: absolute;
  border: none;
  cursor: pointer;
  z-index: 2000;
}

.logobox {
 margin: 0 auto;
 height: 22vh;
 width: 22vh;
 z-index: 1;
}


/* main image styles and text styles*/
.mainImage {
 background-image: url("http://i.imgur.com/WfLA29P.jpg");
 height: 80vh;
 width: 100%;
 background-size: cover;

}

.row {
  margin-right: 0px!important;

}
#videosList {

  height: 87vh;
  width: 100%;
  overflow: hidden;
  z-index: -100;
  background-image: url("https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17203122_10155211369218013_4579764558525881262_n.jpg?oh=7df8f3c10809a42e16fd2b1222708a5b&oe=59B434C2");
  background-size: cover;
}
/*
.thevideo {
  visibility: hidden;
}
*/

@media screen and (max-width: 767px) {
    .thevideo {
        visibility: hidden!important;
    }
}
.defaultpic {
  margin-top: 7%;
  width: 100%;
}
/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

.footer {
  padding: 0px!important;
}

.bottomContainer {
}

.mediaButton {
  padding-top: 0.7%;
  font-family: 'Amatic SC', cursive;
  background-color: lightblue;
  font-size: 190%;
  font-weight: 500;
}
.mediaAddress {
  padding-top: 0.7%;
  font-family: 'Amatic SC', cursive;
  background-color: lightblue;
  font-size: 190%;
  font-weight: 500;
}
.easyTiger {
  width: 70%;
  border-radius: 60%;
}
.amys {
  width: 95%;
  border-radius: 30%;
}
.katz {
  width: 83%;
  border-radius: 60%
}
